.profile-section {
    justify-content: space-around;
}

.about{
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    min-width: 600px;
    position: relative;
}

.about:before{
    content: "";
    display: block;
    width: 120px;
    height: 2px;
    background: #000;
    position: absolute;
    left: 0;
    top: 50%;
}

.about:after{
    content: "";
    display: block;
    width: 120px;
    height: 2px;
    background: #000;
    position: absolute;
    right: 0;
    top: 50%;
}